log:
  # "debug" "info" "warn" "error"
  level: "info"
  file: "/tmp/mosdns/mosdns.log"
api:
  http: 0.0.0.0:9091
include: ["./data.yaml", "./dns.yaml"]
plugins:
  - tag: hosts
    type: hosts
    args:
      entries:
        - "mbp.mylocal.com 192.168.1.5"
  - tag: lazy_cache
    type: cache
    args:
      size: 4096
      lazy_cache_ttl: 86400
      dump_file: "/tmp/mosdns/cache.dump"
      dump_interval: 600

  - tag: "local_ecs"
    type: "ecs_handler"
    args:
      forward: false # 是否转发来自下游的 ecs
      preset: 218.17.140.162 # 发送预设 ecs

  - tag: "global_ecs"
    type: "ecs_handler"
    args:
      forward: false # 是否转发来自下游的 ecs
      preset: 213.130.141.173 # 发送预设 ecs

  - tag: accept_resp
    type: sequence
    args:
      - matches: "has_resp"
        exec: accept

  - tag: modi_ttl
    type: sequence
    args:
      - matches: "has_wanted_ans"
        exec: ttl 1800-0

  - tag: handle_hosts
    type: sequence
    args:
      - exec: "$hosts"
      - matches: "!has_wanted_ans"
        exec: return
      - exec: "query_summary from hosts"
      - exec: accept

  - tag: handle_cache
    type: sequence
    args:
      - exec: "$lazy_cache"
      - matches: "!has_wanted_ans"
        exec: return
      - exec: "query_summary from cache"
      - exec: accept

  - tag: handle_qtype65
    type: sequence
    args:
      - matches: "!qtype 65"
        exec: return
      - exec: "query_summary handle qtype65"
      - exec: reject 3

  - tag: handle_ptr
    type: sequence
    args:
      - matches: "!qtype 12"
        exec: return
      - exec: "query_summary handle ptr"
      - exec: $forward_dnsmasq
      - exec: jump accept_resp
      - exec: reject 3

  - tag: handle_lan
    type: sequence
    args:
      - matches: "!qname domain:lan"
        exec: return
      - exec: "query_summary handle lan"
      - exec: $forward_dnsmasq
      - exec: jump accept_resp
      - exec: reject 3

  - tag: handle_null_domain
    type: sequence
    args:
      - matches: "!qname keyword::"
        exec: return
      - exec: "query_summary handle null domain"
      - exec: reject 3

  - tag: handle_ad
    type: sequence
    args:
      - matches: "!qname $antiAd $ad $awaAd"
        exec: return
      - exec: "query_summary handle ad"
      - exec: reject 3

  - tag: pre_seq
    type: sequence
    args:
      - exec: jump handle_null_domain
      - exec: jump handle_qtype65
      - exec: jump handle_lan
      - exec: jump handle_ptr
      - exec: jump handle_ad

  - tag: local_seq
    type: sequence
    args:
      - exec: "query_summary local dns"
      - exec: "$local_ecs"
      - exec: "$forward_local"
      - exec: jump modi_ttl

  - tag: remote_seq
    type: sequence
    args:
      - exec: "query_summary remote dns"
      - exec: "$global_ecs"
      - exec: "$forward_remote"
      - exec: jump modi_ttl

  - tag: fallback_local
    type: sequence
    args:
      - exec: jump local_seq
      - matches: "!resp_ip $cnip $lanip"
        exec: drop_resp

  - tag: fallback_dns
    type: fallback
    args:
      primary: fallback_local # 主可执行插件的 tag
      secondary: remote_seq # 副可执行插件的 tag
      threshold: 800 # 无响应回滚阈值。单位毫秒。默认 500 。
      always_standby: true # 副可执行插件始终待命。

  - tag: fallback_seq
    type: sequence
    args:
      - exec: "query_summary fallback seq"
      - exec: $fallback_dns

  - tag: main_sequence
    type: sequence
    args:
      - exec: jump handle_hosts
      - exec: jump pre_seq
      - exec: jump handle_cache
      - exec: prefer_ipv4
      - matches: "qname $direct-list $china-list $apple-cn"
        exec: "goto local_seq"
      - matches: "qname $gfw $proxy-list"
        exec: goto remote_seq
      - exec: goto fallback_seq
  - tag: udp_server
    type: udp_server
    args:
      entry: main_sequence
      listen: ":53"
  # - tag: tcp_server
  #   type: tcp_server
  #   args:
  #     entry: main_sequence
  #     listen: ":5335"
